In [3]:
import pandas as pd


df = pd.read_json('items.json')

df

,villeDepart,villeArrive,prix,duree,departDate,retourDate,heureDepart,heureArrive,compagnie
0,Paris,Séoul,887 €,12 h 20 min,dim. 11 févr.,dim. 25 févr.,13:20,09:40+1,Air France
1,Paris,Séoul,905 €,14 h 10 min,dim. 11 févr.,dim. 25 févr.,18:15,16:25+1,"Air France, KLM"
2,Paris,Séoul,935 €,21 h 30 min,dim. 11 févr.,dim. 25 févr.,06:50,12:20+1,Finnair
3,Paris,Séoul,1 426 €,12 h 5 min,dim. 11 févr.,dim. 25 févr.,21:00,17:05+1,Korean Air
4,Paris,Séoul,1 447 €,12 h,dim. 11 févr.,dim. 25 févr.,19:00,15:00+1,Asiana
5,Paris,Séoul,702 €,12 h 20 min,lun. 12 févr.,lun. 26 févr.,13:20,09:40+1,Air France
6,Paris,Séoul,906 €,27 h 25 min,lun. 12 févr.,lun. 26 févr.,19:45,07:10+2,LOT
7,Paris,Séoul,1 031 €,15 h 30 min,lun. 12 févr.,lun. 26 févr.,16:55,16:25+1,"Air France, KLM"
8,Paris,Séoul,1 347 €,12 h 5 min,lun. 12 févr.,lun. 26 févr.,21:00,17:05+1,Korean Air
9,Paris,Séoul,702 €,12 h 20 min,mar. 13 févr.,mar. 27 févr.,13:20,09:40+1,Air France
10,Paris,Séoul,855 €,16 h 5 min,mar. 13 févr.,mar. 27 févr.,07:05,07:10+1,LOT
11,Paris,Séoul,1 090 €,12 h 5 min,mar. 13 févr.,mar. 27 févr.,21:00,17:05+1,Korean Air
12,Paris,Séoul,796 €,15 h 30 min,mer. 14 févr.,mer. 28 févr.,18:50,18:20+1,Turkish Airlines
13,Paris,Séoul,804 €,17 h 30 min,mer. 14 févr.,mer. 28 févr.,10:50,12:20+1,Finnair
14,Paris,Séoul,812 €,12 h 5 min,mer. 14 févr.,mer. 28 févr.,21:00,17:05+1,Korean Air
15,Paris,Séoul,861 €,14 h 10 min,mer. 14 févr.,mer. 28 févr.,18:15,16:25+1,"Air France, KLM"
16,Paris,Séoul,650 €,15 h 30 min,jeu. 15 févr.,ven. 1 mars,18:50,18:20+1,Turkish Airlines
17,Paris,Séoul,733 €,15 h 30 min,jeu. 15 févr.,ven. 1 mars,16:55,16:25+1,"Air France, KLM"
18,Paris,Séoul,881 €,17 h 30 min,jeu. 15 févr.,ven. 1 mars,10:50,12:20+1,Finnair
19,Paris,Séoul,675 €,17 h 50 min,ven. 16 févr.,sam. 2 mars,07:05,08:55+1,Turkish Airlines
20,Paris,Séoul,881 €,17 h 30 min,ven. 16 févr.,sam. 2 mars,10:50,12:20+1,Finnair
21,Paris,Séoul,984 €,14 h 10 min,ven. 16 févr.,sam. 2 mars,18:15,16:25+1,"Air France, KLM"
22,Paris,Séoul,989 €,12 h 20 min,ven. 16 févr.,sam. 2 mars,13:20,09:40+1,Air France
23,Paris,Séoul,1 265 €,12 h 5 min,ven. 16 févr.,sam. 2 mars,21:00,17:05+1,Korean Air
24,Paris,Séoul,835 €,16 h 5 min,sam. 17 févr.,dim. 3 mars,07:05,07:10+1,LOT
25,Paris,Séoul,836 €,17 h 30 min,sam. 17 févr.,dim. 3 mars,10:50,12:20+1,Finnair
26,Paris,Séoul,847 €,12 h 5 min,sam. 17 févr.,dim. 3 mars,21:00,17:05+1,Korean Air
27,Paris,Séoul,909 €,12 h 20 min,sam. 17 févr.,dim. 3 mars,13:20,09:40+1,Air France
28,Paris,Séoul,702 €,12 h 20 min,dim. 18 févr.,lun. 4 mars,13:20,09:40+1,Air France
29,Paris,Séoul,763 €,12 h 5 min,dim. 18 févr.,lun. 4 mars,21:00,17:05+1,Korean Air
30,Paris,Séoul,809 €,17 h 30 min,dim. 18 févr.,lun. 4 mars,10:50,12:20+1,Finnair
31,Paris,Séoul,948 €,15 h 30 min,dim. 18 févr.,lun. 4 mars,18:50,18:20+1,Turkish Airlines
32,Paris,Séoul,1 147 €,12 h,dim. 18 févr.,lun. 4 mars,19:00,15:00+1,Asiana
33,Paris,Séoul,686 €,19 h 50 min,lun. 19 févr.,mar. 5 mars,07:05,10:55+1,LOT
34,Paris,Séoul,718 €,17 h 30 min,lun. 19 févr.,mar. 5 mars,10:50,12:20+1,Finnair
35,Paris,Séoul,731 €,12 h 20 min,lun. 19 févr.,mar. 5 mars,13:20,09:40+1,Air France
36,Paris,Séoul,1 039 €,12 h 5 min,lun. 19 févr.,mar. 5 mars,21:00,17:05+1,Korean Air
37,Paris,Séoul,650 €,17 h 50 min,mar. 20 févr.,mer. 6 mars,07:05,08:55+1,Turkish Airlines
38,Paris,Séoul,650 €,15 h 30 min,mar. 20 févr.,mer. 6 mars,18:50,18:20+1,Turkish Airlines
39,Paris,Séoul,702 €,12 h 20 min,mar. 20 févr.,mer. 6 mars,13:20,09:40+1,Air France
40,Paris,Séoul,768 €,17 h 30 min,mar. 20 févr.,mer. 6 mars,10:50,12:20+1,Finnair
41,Paris,Séoul,791 €,12 h 5 min,mar. 20 févr.,mer. 6 mars,21:00,17:05+1,Korean Air

In [5]:
df.head()

,villeDepart,villeArrive,prix,duree,departDate,retourDate,heureDepart,heureArrive,compagnie
0,Paris,Séoul,887 €,12 h 20 min,dim. 11 févr.,dim. 25 févr.,13:20,09:40+1,Air France
1,Paris,Séoul,905 €,14 h 10 min,dim. 11 févr.,dim. 25 févr.,18:15,16:25+1,"Air France, KLM"
2,Paris,Séoul,935 €,21 h 30 min,dim. 11 févr.,dim. 25 févr.,06:50,12:20+1,Finnair
3,Paris,Séoul,1 426 €,12 h 5 min,dim. 11 févr.,dim. 25 févr.,21:00,17:05+1,Korean Air
4,Paris,Séoul,1 447 €,12 h,dim. 11 févr.,dim. 25 févr.,19:00,15:00+1,Asiana

In [12]:
#Nous avons un caractère unicode \u202f 
df['prix'] = df['prix'].replace('[^\d]+', '', regex=True).astype(float)

lignes_prix_minimum = df[df['prix'] == df['prix'].min()]
lignes_prix_minimum

,villeDepart,villeArrive,prix,duree,departDate,retourDate,heureDepart,heureArrive,compagnie
16,Paris,Séoul,650.0,15 h 30 min,jeu. 15 févr.,ven. 1 mars,18:50,18:20+1,Turkish Airlines
37,Paris,Séoul,650.0,17 h 50 min,mar. 20 févr.,mer. 6 mars,07:05,08:55+1,Turkish Airlines
38,Paris,Séoul,650.0,15 h 30 min,mar. 20 févr.,mer. 6 mars,18:50,18:20+1,Turkish Airlines